.hero {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 60px;
    left: 0;
}
.hero .hero-image {
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.hero .hero-image-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
}
.hero .thumbnail-title {
    width: 100%;
    text-align: center;
    font-size: 2.7em;
}
.hero .thumbnail-text {
    width: 100%;
    text-align: center;
}

.after-hero {
    margin-top: 260px;
}


.grid .grid-item {
    box-sizing: border-box;
}
.grid .grid-item-stat {
    padding: 10px;
    border-radius: 10px;
    background-color: #00cade;
}
.grid .grid-item-stat .grid-item-stat-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.grid .grid-item-stat .grid-item-stat-header .grid-item-stat-icon {
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    color: #00cade;
}
.grid .grid-item-stat .grid-item-stat-header .grid-item-stat-title {
    color: #ffffff;
}
.grid .grid-item-stat-green {
    background-color: #12b76a;
    color: #12b76a;
}
.grid .grid-item-stat-green .grid-item-stat-header .grid-item-stat-icon{
    color: #12b76a;
}
.grid .grid-item-stat-orange {
    background-color: #f79009;
}
.grid .grid-item-stat-orange .grid-item-stat-header .grid-item-stat-icon{
    color: #f79009;
}
.grid .grid-item-stat .value {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #ffffff;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bolder;
}


.btn {
    padding: 15px 20px 15px 20px;
    border-radius: 10px;
}
.btn-white-outline {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    border: 1px solid #ffffff;
}


.footer {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10% 10px 10%;
    background-color: #000000;
    color: #ffffff;
}


.border-white {
    border-color: #ffffff;
}


.text-center {
    text-align: center;
}
@media (min-width:768px) {
    .md\:text-left {
        text-align: left !important;
    }

    .md\:flex-order-end {
        order: 999;
    }
}